/* Variables */
:root {
    /* Colors */
    --primary-color: #425b84;
    --secondary-color: #5b7bb4;
    --max-width: 1100px;

    --overlay-color: rgba(24, 39, 51, 0.9);

    /* Transitions */
    --primary-transition: all 0.2s ease-in-out;
    --menu-speed: 0.75s;
}

/* Basis */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4;
    background: var(--primary-color);
    color: #fff;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.container {
    max-width: 960px;
    padding: 0 3rem;
    margin: auto;
    overflow: hidden;
}

a {
    text-decoration: none;
}

p {
    margin: 1rem 0;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    display: inline-block;
    transition: var(--primary-transition);
    border-radius: 3px;
    border: none;
}

.btn:hover {
    opacity: 0.7;
}