// Base Styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font-family;
    line-height: $base-line-height;
    background: $base-background;
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}