// Variables
$website-width:1280px;

// Colors
$main-color:#ffbc00;
$light-color:#f4f4f4;
$dark-color:#333;
$medium-color:#ccc;

$base-background:#fff;

// Image
$bg-image:url('../img/showcase.jpg');

// Font style
$primary-font-family:'Dosis', sans-serif;
$base-font-color:#fff;
$base-line-height:1.6;