#navbar ul li {
    color: var(--primary-text-color);
    display: inline-block;
    padding: 1rem;
    position: relative;
}

#navbar ul li a {
    color: var(--primary-text-color);
}

/* Hide Nested Ul by default */
#navbar ul li>ul {
    display: none;

}

/* Li hover effect */
#navbar ul li:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: var(--secondary-text-color);
}

#navbar ul li:hover a {
    cursor: pointer;
    /* background: var(--primary-color); */
    color: #fff;
}

/* Nested Dropdown Show */
#navbar ul li:hover ul {
    /* display block to show default li block elements in a column */
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 1rem;
}

#navbar ul li:hover ul li {
    display: block;
    background-color: var(--primary-gray-color);
}

#navbar ul li:hover ul li a {
    color: var(--primary-text-color);
}

#navbar ul li:hover ul li:hover {
    background: var(--secondary-gray-color);
    color: inherit;
}

#navbar ul li:hover ul li span {
    float: right;
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

#navbar ul li:hover ul li:hover span {
    background: var(--secondary-color);
}

/* Showcase */
#showcase {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    background: var(--primary-color);
}

#showcase h1 {
    color: var(--secondary-text-color);
    font-size: 4rem;
}

@media (max-width:600px) {
    #navbar ul li{
        display: block;
    }

    #navbar ul li:hover ul{
        width: 100%;
        position: relative;
    }
}